html{
    transition: all 0.3s ease;
    background-color: #A8B7FF;
    background: -webkit-linear-gradient(180deg, #0073ff, #ffbb00 100%);
}
body{
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
    cursor: crosshair;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.usernameConfirmed{
    transition: all 0.2s ease;
    text-align: center;
    font-family: font4;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 1.5px rgb(254, 121, 0);
    position: absolute;
    top: 33.2%;
    left: 10.3%;
    font-size: 38px;
    height: 42px;
    width: 23.6%;
    line-height: 40px;
}  

.usernameConfirmed:hover{
    transform: translateY(-2px);
    text-shadow: #ff5e00 0px 5px 16px;
}

#chronometreElement{
    transition: all 0.2s ease;
    text-align: center;
    font-family: font4;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 1.5px rgb(254, 121, 0);
    position: absolute;
    z-index: +1;
    top: 68%;
    left: 11.3%;
    font-size: 38px;
    height: 42px;
    width: 23.6%;
    line-height: 40px;
} 

#chronometreElement:hover{
    transform: translateY(-2px);
    text-shadow: #ff5e00 0px 5px 16px;
}

input{
    transition: all 0.3s ease;
    border: #747464 solid 2px;
    box-shadow: #747464 0px 0px 10px;
    background-color: #504c4c;
    text-align: center;
    font-size: 18.5px;
    font-family: font2;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 0.7px rgb(254, 121, 0);
    position: absolute;
    top: 32.4%;
    z-index: +1;
    left: 10.3%;
    height: 17px;
    width: 190;
}

input:hover{
    box-shadow: #747464 0px 0px 20px;
}

input::placeholder {
    color: rgb(254, 228, 0);
    font-style: italic;
}

.Submit{
    transition: all 0.2s ease;
    background: #504c4c;
    border: #747464 solid 2px;
    box-shadow: #747464 0px 0px 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: font4;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 0.7px rgb(254, 121, 0);
    font-size: 18px;
    height: 28px;
    line-height: 16px;
    position: absolute;
    top: 32.4%;
    left: 28%;
    outline: 0; 
    z-index: +1;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    touch-action: manipulation;
    vertical-align: middle;
}
  
.Submit:hover,
.Submit:active{
    background-position: 0 0;
    box-shadow: #747464 0px 0px 30px;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 121, 0);
    -webkit-text-stroke: 0.3px rgb(254, 228, 0);
}
  
.Submit:active{
    background-color: #504c4c;
    box-shadow: #747464 0px 0px 1px inset;
    box-shadow: #747464 0px 2px 5px;
    border-color: #747464;
    transform: translateY(2px);
}

#start{
    transition: all 0.2s ease;
    background: #504c4c;
    border: #747464 solid 2px;
    box-shadow: #747464 0px 0px 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: font4;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 0.5px rgb(254, 121, 0);
    font-size: 15px;
    height: 22px;
    line-height: 16px;
    position: absolute;
    width: 75px;
    top: 42.7%;
    left: 9.4%;
    outline: 0; 
    z-index: +2;
    opacity: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    touch-action: manipulation;
    vertical-align: middle;
}

#start:hover,
#start:active{
    background-position: 0 0;
    box-shadow: #747464 0px 0px 30px;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 121, 0);
    -webkit-text-stroke: 0.3px rgb(254, 228, 0);
}
  
#start:active{
    background-color: #504c4c;
    box-shadow: #747464 0px 0px 1px inset;
    box-shadow: #747464 0px 2px 5px;
    border-color: #747464;
    transform: translateY(2px);
}


f1{
    position: absolute;
    top: 40%;
    left: 25%;
    background-color: #ffac34;
    height: 5px;
    width: 124px;
}
f2{
    position: absolute;
    top: 40%;
    left: 11.6%;
    background-color: #d87c04;
    height: 5px;
    width: 190px;
}

#playGround{
    transition: all 0.3s ease;  
    position: absolute;
    top: 8%;
    right: 3%;
    padding: 0;
    margin: 0;
    height: 600px;
    width: 600px;
    background-image: url(../models/backgrounds/canvasBackground.png);
    opacity: 0;
    background-size: cover;
    border: rgb(0, 0, 0) 2px;
    cursor: pointer;
}

#D1, #D2{
    opacity: 0;
    transition: all 0.2s ease;
    text-align: center;
    font-family: font1;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 1.5px rgb(254, 121, 0);
    position: absolute;
    z-index: +1;
    top: 49%;
    left: 7%;
    font-size: 50px;
    height: 42px;
    width: 23.6%;
    line-height: 40px;
}
#bxs{
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 400px;
    top: 75.6%;
    left: 22.55%;
}
#ScoreDisp{
    transition: all 0.2s ease;
    text-align: center;
    font-family: font3;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 1.5px rgb(254, 121, 0);
    position: absolute;
    z-index: +1; 
    font-size: 38px;
    line-height: 40px;
}

t9{
    transition: all 0.2s ease;
    text-align: center;
    font-family: font3;
    text-shadow: rgb(254, 228, 0) 0px 5px 8px;
    color:  #ff5e00;
    -webkit-text-stroke: 1.5px rgb(254, 228, 0);
    position: absolute;
    z-index: +1; 
    font-size: 30px;
    line-height: 40px;
    left: 30%;
    top: 67.8%;
    opacity: 0;
}

#ScoreDisp:hover{
    transform: translateY(-2px);
    text-shadow: #ff5e00 0px 5px 16px;
}

#bxz{
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 400px;
    top: 83%;
    left: 25%;
}
#bestScoreDisp{
    transition: all 0.2s ease;
    text-align: center;
    font-family: font3;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 1.5px rgb(254, 121, 0);
    position: absolute;
    z-index: +1; 
    font-size: 25px;
    line-height: 40px;
}
#bestScoreDisp:hover{
    transform: translateY(-2px);
    text-shadow: #ff5e00 0px 5px 16px;
}

#t1{
    transition: all 0.3s ease;
    text-align: center;
    font-family: font3;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 1px rgb(254, 121, 0);
    position: absolute;
    z-index: +1;
    top: 75.2%;
    left: 16.05%;
    font-size: 20px;
    line-height: 40px;
}
#t1:hover{
    transform: translateY(-2px);
    text-shadow: #ff5e00 0px 5px 16px;
}

#t7{
    transition: all 0.2s ease;
    text-align: center;
    font-family: font3;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 0.7px rgb(254, 121, 0);
    position: absolute;
    z-index: +1;
    top: 83%;
    left: 14%;
    font-size: 20px;
    line-height: 40px;
}
#t7:hover{
    transform: translateY(-2px);
    text-shadow: #ff5e00 0px 5px 16px;
}

#t2{
    position: absolute;
    top: 73.5%;
    left: 10.5%;
    background-color: #747464;
    height: 5px;
    width: 120px;
    z-index: +2;
}
#t3{
    position: absolute;
    top: 73.5%;
    left: 19%;
    background-color: #482434;
    height: 5px;
    width: 200px;
    z-index: +2;
}

#t4{
    position: absolute;
    top: 79.5%;
    left: 15.55%;
    background-color: rgb(254, 121, 0);
    box-shadow: #fcac34 0px 0px 10px;
    height: 2px;
    width: 80px;
    z-index: +2;
}

#t8{
    position: absolute;
    top: 87.3%;
    left: 13.5%;
    background-color: rgb(254, 121, 0);
    box-shadow: #fcac34 0px 0px 10px;
    height: 2px;
    width: 135px;
    z-index: +2;
}

#t5{
    text-align: center;
    font-family: font3;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 1px rgb(254, 121, 0);
    position: absolute;
    z-index: +1;
    font-size: 20px;
    line-height: 40px;
    transform: translateX(11px);
    padding: 20px;
}

#t6{
    text-align: center;
    font-family: font3;
    text-shadow: #ff5e00 0px 5px 8px;
    color: rgb(254, 228, 0);
    -webkit-text-stroke: 0.5px rgb(254, 121, 0);
    position: absolute;
    z-index: +1;
    font-size: 10px;
    line-height: 40px;
    transform: translateX(17px);
    padding: 13px;
}

#D1:hover{
    transform: translateY(-2px);
    text-shadow: #ff5e00 0px 5px 16px;
}

#D2:hover{
    transform: translateY(-2px);
    text-shadow: #ff5e00 0px 5px 16px;
}

#D2{
    top: 42%;
    left: 9%;
    font-size: 35px;
}

#imgDisplay{
    transition: all 0.2s ease;
    background-color: #747464;
    background-size: cover;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 26%;
    top: 41.5%;
    z-index: +1;
    opacity: 0;
    border: #fcac34 solid;
    box-shadow: #fcac34 0px 0px 10px;
}
#imgDisplay:hover{
    transform: translateY(-2px);
    box-shadow: #fcac34 0px 0px 20px;
}

#img1{
    transition: all 0.3s ease;
    filter: drop-shadow(0px 0px 20px #ffbb00);      
    height: 93%;
    position: absolute;
    top: 5%;
    left: 3%;
}
#img1:hover{
    filter: drop-shadow(0px 0px 30px #ffbb00)
}

#img2{
    transition: all 0.3s ease;
    height: 600px;
    width: 600px;
    filter: drop-shadow(0px 0px 20px #005eff);
    position: absolute;
    top: 8%;
    right: 3%;
    opacity: 0;
    pointer-events: none;
}

@font-face{ /* POLICE-1 */
    font-family: "font1";
    src: url("../fonts/font1.ttf")
}
@font-face{ /* POLICE-2 */
    font-family: "font2";
    src: url("../fonts/font2.ttf")
}
@font-face{ /* POLICE-3 */
    font-family: "font3";
    src: url("../fonts/font3.ttf")
}
@font-face{ /* POLICE-4 */
    font-family: "font4";
    src: url("../fonts/font4.ttf")
}