html{ /* BACKGROUND */
    background-color: black;
}
.Rejouer { /* BUTTON-RESTART : Global */
    transition: all 0.3s ease;
    align-items: center;
    appearance: none;
    background-color: #000000;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(62, 62, 62, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,black 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: font1;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-shadow: rgb(51, 255, 0) 1px 0 4px;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    font-family: font1;
    font-weight: 700;
    color: rgb(53, 251, 3);
    float: left;
    margin-left: 45px;
    margin-top: -200px;
  } 
  
  .Rejouer:focus { /* BUTTON-RESTART : Selection */
    box-shadow: black 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(46, 199, 8, 1) 0 7px 13px -3px, #000000 0 -3px 0 inset;
    }
  
  .Rejouer:hover { /* BUTTON-RESTART : Inactif */
    box-shadow: rgba(46, 199, 8, 1) 0 4px 8px, rgba(46, 199, 8, 1) 0 7px 13px -3px, rgba(46, 199, 8, 1) 0 -3px 0 inset;
    transform: translateY(-2px);
    }
  
  .Rejouer:active { /* BUTTON-RESTART : Actionné */
    box-shadow: rgba(46, 199, 8, 1) 0 3px 7px inset;
    transform: translateY(2px);
  }
h1{ /* TITRE */
    display: block;
    color: rgba(21,239,69,255);
    text-align: center;
    border-style: solid;
    border-color: rgba(21,239,69,255);
    height: 10vw;
    line-height: 10vw;
    background-color: black;
    font-family: font1 ;
    font-size: 5vw;
    width: 38vw;
    margin: auto;
    text-shadow: rgba(46, 199, 8, 1) 1px 0 5px;
    box-shadow: rgb(51, 255, 0) 0px 0px 4px ;
}
h1::before{ /* AVANT-TITRE */
    display: block;
    content:"";
    height: 10vw;
    width: 10vw;
    float: left;
    background-image: url(https://i.gifer.com/RRsS.gif);
    background-size: cover;
    image-resolution: 300dpi;
}
h1::after{ /* APRÈS-TITRE */
    display: block;
    content:"";
    height: 10vw;
    width: 10vw;
    float: right;
    background-image: url(https://i.gifer.com/RRsS.gif);
    background-size: cover;
}
h2{ /* EMPLACEMENT-PSEUDO. */
  border-style: solid;
  height: 16px;
  border-color: rgb(51, 255, 0) ;
  box-shadow: rgb(51, 255, 0) 0px 0px 4px ;
  float: left;
  font-family: font2;
  width: 80px;
  text-align: center;
  text-shadow: rgba(46, 199, 8, 1) 1px 0 5px;
  font-size: 12px;
  margin-left: 23.45px;
  margin-top: -120px;
  position: absolute;
  color: rgb(51, 255, 0);
} 
h3{ /* EMPLACEMENT-ORDI. */
  border-style: solid;
  height: 16px;
  border-color: rgb(51, 255, 0);
  box-shadow: rgb(51, 255, 0) 0px 0px 4px ;
  float: right;
  font-family: font2;
  width: 80px;
  text-align: center;
  text-shadow: rgba(46, 199, 8, 1) 1px 0 5px;
  font-size: 12px;
  margin-left: 288px;
  margin-top: -120px;
  position: absolute;
  color: rgb(51, 255, 0);
}
#P5{ /* EMPLACEMENT-ORDI. */
  border-style: solid;
  height: 14px;
  border-color: rgb(51, 255, 0);
  box-shadow: rgb(51, 255, 0) 0px 0px 4px ;
  float: right;
  font-family: font2;
  width: 66px;
  text-align: center;
  text-shadow: rgba(46, 199, 8, 1) 1px 0 5px;
  font-size: 11px;
  margin-left: 288px;
  margin-top: -148px;
  position: absolute;
  color: rgb(51, 255, 0);
}
#P6{ /* EMPLACEMENT-ORDI. */
  border-style: solid;
  height: 14px;
  border-color: rgb(51, 255, 0);
  box-shadow: rgb(51, 255, 0) 0px 0px 4px ;
  float: right;
  font-family: font2;
  width: 64px;
  text-align: center;
  text-shadow: rgba(46, 199, 8, 1) 1px 0 5px;
  font-size: 11px;
  margin-left: 288px;
  margin-top: -164px;
  position: absolute;
  color: rgb(51, 255, 0);
}
h4{
  position: absolute;
  float: right;
  border-style: solid;
  border-color: rgb(51, 255, 0);
  box-shadow: rgb(51, 255, 0) 0px 0px 4px ;
  font-family: font2;
  font-size: 12px;
  text-align: center;
  text-shadow: rgba(46, 199, 8, 1) 1px 0 5px;
  height: 16px;
  width: 16px;
  margin-left: 87.5px;
  margin-top: -103.5px;
  color: rgb(51, 255, 0);
}
h5{
  position: absolute;
  float: right;
  border-style: solid;
  border-color: rgb(51, 255, 0);
  box-shadow: rgb(51, 255, 0) 0px 0px 4px ;
  font-family: font2;
  font-size: 12px;
  text-align: center;
  text-shadow: rgba(46, 199, 8, 1) 1px 0 5px;
  height: 16px;
  width: 16px;
  margin-left: 288px;
  margin-top: -103.5px;
  color: rgb(51, 255, 0);
}
#tictactoe{ /* ENCADREMENT-JEU */
  transition: all 0.3s ease;
  display: block;
  width: 38.25vw;
  height: 39vw;
  margin: auto;
  border-style: solid;
  background-color: black;
  border-color: rgba(21,239,69,255);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgb(51, 255, 0) 0px 0px 4px ;
}

#tictactoe td{ /* EMPLACEMENTS-JEU */
    transition: all 0.3s ease;
    width: 11.60vw;
    height: 11.60vw;
    border: solid;
    margin: auto;
    background-color: rgba(80, 245, 39, 0.17);
    border-style: solid;
    border-radius: 25px;
    border-color: rgba(21,239,69,255);
    box-shadow: 0px 0px 3px rgba(46, 199, 8, 1);
}
@font-face{ /* POLICE-1 */
  font-family: "font1";
  src: url("../font/Font_1.ttf")
}
@font-face{ /* POLICE-2 */
font-family: "font2";
src: url("../font/Font_2.otf")
}